.first-section {
    background-color: #1F2937;
    font-family: Roboto;
}

.first-section-maintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.link, .first-section-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-section-bottom {
    display: flex
}
